body {
  font-family: 'PT Sans', sans-serif;
  background-color: lightblue;
}

.container {
  text-align: center;
  background-color: white;
  font-weight: bold;
  border-radius: 20px;
  max-width: 1060px;
  height: 700px;
  padding: 10px;
  border: 10px;
  margin 0 auto;
}

.fronthead {
  font-size: 50px;
}
.gc {
  max-width: 50vw;
}

ul {
  text-align: center;
  list-style: none
}

li {
  list-style-type: none;
}
