<h1>Book Catalog</h1>

<ul>
  <li><strong>Books</strong><%= data.book.count %></li>
  <li><strong>Copies</strong> <%= data.book_instance.count %></li>
  <li><strong>Copies Available:</strong><%= data.book_instance_available.count %></li>
  <li><strong>Authors</strong>data.author.count</li>
  <li><strong>Genres</strong>data.gere.count</li>
</ul>
