<h1>Welcome to the Fairground!</h1>


<!-- Have links to each game here -->
<a href="/magic8/form">Magic 8 Ball</a>
<a href="/secretnumber/form">Secret Number</a>
<a href="/magic8/form">Rock Paper Scissors</a>
