<h2>Add a new park</h2>

<form action="/parks" method='post'>
  Name: <input type="text" name="name" autofocus>
  State: <input type="text" name="state">
  Nearest city: <input type="text" name="nearest_city">
  Size: <input type="number" name="size">
  Image: <input type="url" name="image">
  <button>Add park</button>
</form>
